.filter-and-create-section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .filter-section mat-form-field {
    min-width: 20rem;
  }
}

.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 90rem;
  height: 23rem;

  .table-content {
    height: 20rem;

    .mat-form-field {
      font-size: 14px;
      width: 100%;
    }

    .mat-table {
      overflow: auto;
      max-height: 500px;
    }

    .table-header {
      font-weight: bold;
      color: #fff;
      font-size: 0.875rem;
    }

    .mat-header-row {
      background-color: #5664d2;
    }

    .delete-action,
    .open-details-action {
      cursor: pointer;
      padding-right: 5px;
    }

    .spinner-section {
      display: flex;
      padding-top: 3rem;
      justify-content: center;
      align-items: center;
      background: white;
    }

    .mat-column-actions {
      flex: none;
      width: 4rem;
    }

    .menu-section {
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 480px) {
  .table-container {
    width: auto;

    .mat-cell:first-of-type {
      padding-left: 0.8rem;
    }

    .more-info {
      padding-left: 0.8rem;
    }
  }

  .filter-and-create-section {
    padding: 1rem;
    .filter-section {
      .mat-form-field-type-mat-input {
        min-width: 14rem !important;
      }
    }
  }
}

@media only screen and (min-width: 480px) and (orientation: landscape) {
  .table-container {
    background-color: lightblue;
  }
}
